<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="logo">Logo</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <div class="clearfix">
                <nz-upload nzAction="http://127.0.0.1:8000/api/v1/brands/upload" nzListType="picture-card"
                    [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1" [nzPreview]="handlePreview">
                    <div>
                        <i nz-icon nzType="plus"></i>
                        <div style="margin-top: 8px">Upload</div>
                    </div>
                </nz-upload>
                <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                    (nzOnCancel)="previewVisible = false">
                    <ng-template #modalContent>
                        <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                    </ng-template>
                </nz-modal>
            </div>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
            <span>name</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your name!">
            <input nz-input id="name" formControlName="name" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="name">Status</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-select>
                <nz-option nzValue="0" nzLabel="Active"></nz-option>
                <nz-option nzValue="1" nzLabel="Inactive"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="desc">Description</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <textarea rows="4" formControlName="desc" nz-input></textarea>
        </nz-form-control>
    </nz-form-item>

    <button nz-button nzType="default" (click)="onClick()">Button1</button>
    <button nz-button nzType="primary" type="submit" [nzLoading]="false">Button1</button>
</form>


<nz-table #basicTable [nzData]="brands">
    <thead>
        <tr>
            <th>logo</th>
            <th>name</th>
            <th>desc</th>
            <th>updated</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>
            <img nz-image width="200px" height="200px"
                [src]="data.logo"
                alt="" />
            </td>
            <td>{{ data.name }}</td>
            <td>{{ data.desc }}</td>
            <td>{{ data.updated }}</td>
            <!-- <td>
          <a>Action 一 {{ data.name }}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>
        </td> -->
        </tr>
    </tbody>
</nz-table>